@import url("https://fonts.googleapis.com/css?family=Dosis|Quicksand");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(219, 219, 219);
}

p{
  margin: 0;
}

.background-white{
  background-color: rgb(250, 249, 249);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  flex: 1;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: space-around;
  margin: 1em;
}

body > * {
  font-family: "Quicksand", sans-serif;
}

#player-data {  
  background-color: white;
  height: fit-content;
  margin: 0 2em;
  padding: 0.5em;
  max-width: 18em;
}

.hidden{
  display: none;
}

#player-move:not(.hidden){
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-move > * {
  margin: .5em;
}

p > input{
  display: inline-block;
}

#wait {  
  background-color: white;
  height: fit-content;
  margin: 0 2em;
  padding: 0.5em;
  max-width: 18em;
}

h2 {
  margin: 0;
}

#chessboard{
  display: flex;
  flex-direction: column;
  height: 400px;
}

.rowContainer {
  display: flex;
  flex: 1;
  width: 400px;
}

.columnsContainer {
  display: flex;
  flex-direction: columns;
}

span {
  width: -webkit-fill-available; 
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

span:hover {
  background-color: white;
}

.black {
  background-color: gray;
  cursor: pointer;
}

.salmon {
  background-color: rgb(216, 133, 100);
  cursor: pointer;
}

input {
  margin: 5px;
}

